*{
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif */
}







.labba{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  text-align: center;
}

.face img{
  width: 99px;
  padding: 1px;
}

.mainArticle{
  padding: 20px 100px;
}

h1{
  font-weight: 900;
  color: brown;
}

.face{
  position: relative;
}

.overlay{
  opacity: 0;
  position: absolute;
  background-color:rgba(254, 234, 52, 0.9);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 10px;
  text-align: center;
  

}

.face:hover .overlay{
  opacity: 1;

}

.city{
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 1.1rem;
  text-align: center;
}

.can-nam{
  /* font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-size: 14px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.1rem;
  text-align: center; */
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1rem;
  text-align: center;
  
}